{# PRODUCT #}
{% set product = elements['#meeg_ninho_product'] %}
{% set title = product.title.value %}
{% set class = product.getClass.name.value %}
{% set description = product.description.value %}
{% set components = product.components.value %}
{% set preservation = product.preservation.value %}
{% set nutritional = product.nutritional.value %}
{% set lett_id = product.lett_id.value %}
{% set image = {
    uri: product.getImage.uri.value|default(''),
    alt: product.image.alt|default(title),
    style: 'image_webp',
} %}
<h1>PRODUTO</h1>
<fieldset>
    <strong>NOME:</strong> {{ title }}
    <br>
    <br>
    <strong>CATEGORIA:</strong> {{ class }}
    <br>
    <br>
    <strong>DESCRIÇÃO:</strong>
    <br>
    {{ description|raw }}
    <br>
    <br>
    <strong>INGREDIENTES: </strong>
    <br>
    {{ components|raw }}
    <br>
    <br>
    <strong>CONSERVAÇÃO: </strong>
    <br>
    {{ preservation|raw }}
    <br>
    <br>
    <strong>INFORMAÇÕES NUTRICIONAIS: </strong>
    <br>
    {{ nutritional|raw }}
    <br>
    <br>
    <strong>LETT ID:</strong> {{ lett_id }}
    <br>
    <br>
    {{ drupal_image(image.uri, image.style, {alt: image.alt}) }}
</fieldset>

{# PACKAGES #}
{% set packages = product.getPackages() %}
{% if packages is not empty %}
    <h1>EMBALAGENS</h1>
    {% for item in packages %}
        {% set package_title = item.field_title.value %}
        {% set package_lett_id = item.field_lett_id.value %}
        {% set package_image = {
            uri: item.field_image.entity.uri.value|default(''),
            alt: item.field_image.alt|default(package_title),
            style: 'image_webp',
        } %}
        <fieldset>
            <strong>NOME:</strong> {{ package_title }}
            <br>
            <br>
            <strong>LETT ID:</strong> {{ package_lett_id }}
            <br>
            <br>
            {{ drupal_image(package_image.uri, package_image.style, {alt: package_image.alt}) }}
        </fieldset>
    {% endfor %}
{% endif %}

{# HOW TO PREPARE #}
{% set howtoprepare = product.paragraph_howtoprepare %}
{% set howtoprepare_obs = product.obs_howtoprepare.value %}
{% if howtoprepare is not empty %}
    <h1>MODO DE PREPARO</h1>
    <fieldset>
        {% for item in howtoprepare %}
            {% if item.entity.status == true %}
                {% set howtoprepare_title = item.entity.field_title.value %}
                <fieldset>
                    <strong>{{ howtoprepare_title }}</strong>
                    <br>
                    {% for step in item.entity.field_howtoprepare_step %}
                        {% if step.entity.status == true %}
                            {% set step_description = step.entity.field_description.value %}
                            {% set step_image_select = step.entity.field_image_select.value %}
                            <fieldset>
                                <strong>DESCRIÇÃO:</strong> {{ step_description|raw }}
                                <strong>IMAGEM:</strong> {{ step_image_select }}
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <br>
            {% endif %}
        {% endfor %}
        <fieldset>
            <h2>Misture bem e está pronto!</h2>
        </fieldset>
        <br>
        <strong>OBSERVAÇÃO:</strong> {{ howtoprepare_obs|raw }}
    </fieldset>
{% endif %}

{# FAQ #}
{% set faq_product = elements['#faq_product'] %}
{% set faq_class = elements['#faq_class'] %}
{% if faq_product is not empty or faq_class is not empty %}
    <h1>FAQ</h1>
{% endif %}
{% if faq_product is not empty %}
    {% for item in faq_product %}
        {% set faq_question = item.question.value %}
        {% set faq_answer = item.answer.value %}
        {% set faq_theme = item.getTheme.name.value %}
        {% set faq_product = item.getProduct.title.value %}
        <fieldset>
            <strong>{{ faq_question }}</strong>
            <br>
            <br>
            {{ faq_answer|raw }}
            <br>
            <strong>TEMA:</strong> {{ faq_theme }}
            <br>
            <br>
            <strong>PRODUTO:</strong> {{ faq_product }}
        </fieldset>
    {% endfor %}
{% endif %}
{% if faq_class is not empty %}
    {% for item in faq_class %}
        {% set faq_question = item.question.value %}
        {% set faq_answer = item.answer.value %}
        {% set faq_theme = item.getTheme.name.value %}
        {% set faq_class = item.getClass.name.value %}
        <fieldset>
            <strong>{{ faq_question }}</strong>
            <br>
            <br>
            {{ faq_answer|raw }}
            <br>
            <strong>TEMA:</strong> {{ faq_theme }}
            <br>
            <br>
            <strong>CATEGORIA:</strong> {{ faq_class }}
        </fieldset>
    {% endfor %}
{% endif %}

{# OTHER PRODUCTS #}
{% set other_products = elements['#other_products'] %}
{% if other_products is not empty %}
    <h1>OUTROS PRODUTOS</h1>
    {% for item in other_products %}
        {% set other_id = item.id.value %}
        {% set other_title = item.title.value %}
        {% set other_class = item.getClass.name.value %}
        {% set other_image = {
            uri: item.getImage.uri.value|default(''),
            alt: item.image.alt|default(other_title),
            style: 'image_webp',
        } %}
        <fieldset>
            <strong>NOME:</strong> {{ other_title }}
            <br>
            <br>
            <a href="{{ path('entity.meeg_ninho_product.canonical', {'meeg_ninho_product': other_id}) }}">VER</a>
            <br>
            <br>
            <strong>CATEGORIA:</strong> {{ other_class }}
            <br>
            <br>
            {{ drupal_image(other_image.uri, other_image.style, {alt: other_image.alt}) }}
        </fieldset>
    {% endfor %}
{% endif %}

{# REFERENCES #}
{% set references = product.references.value %}
{% if references is not empty %}
    <h1>REFERÊNCIAS</h1>
    <fieldset>
        {{ references|raw }}
    </fieldset>
{% endif %}
