{# DATA #}
{% set product = data.product %}
{% set gofind_src = 'https://ninho.pertinhodemim.com' %}

{% if product is not empty %}
    {% set lett_id = product.lett_id.value %}
    {% set gofind_src = "#{gofind_src}/product/#{lett_id}?test=true#product-offers" %}
    <h1>PRODUTO</h1>
    <fieldset>
        <strong>LETT ID</strong> {{lett_id}}
    </fieldset>
{% endif %}

<h1>PÁGINA</h1>
<fieldset>
    <strong>IFRAME SRC:</strong> {{gofind_src}}
    <br>
    <a href="{{ gofind_src }}" target="_noblank">ACESSAR</a>
</fieldset>
<br><br>
<iframe id="gofind-iframe" frameborder="0" src="{{ gofind_src }}" width="100%" style="min-height:700px;border:1px solid #f2f2f2;" allow="geolocation"></iframe>
