{#
/**
 * @file
 * Claro's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.pre_content: Items for the pre-content region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.highlighted: Items for the highlighted region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header class="content-header clearfix">
<div class="layout-container">
    {{ page.breadcrumb }}
    {{ page.header }}
</div>
</header>

<div class="layout-container">
    {{ page.pre_content }}
    <main class="page-content clearfix" role="main">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ page.highlighted }}
        {% if page.help %}
        <div class="help">
            {{ page.help }}
        </div>
        {% endif %}
        {{ page.content }}
    
        {# BUILD BANNERS #}
        <h1>BANNERS</h1>
        {% for banner in banners %}
            {% set banner_title = banner.title.value %}
            {% set banner_link = banner.link.value %}
            {% set banner_image = {
                uri: banner.getImage.uri.value|default(''),
                alt: banner.image.alt|default(banner_title),
                style: 'image_webp',
            } %}
            <fieldset>
                {{ drupal_image(banner_image.uri, banner_image.style, {alt: banner_image.alt}) }}
                <br>
                <strong>TÍTULO:</strong> {{banner_title}}
                <br>
                <strong>LINK:</strong> <a href="{{ banner_link }}" target="_blank">VER</a>
            </fieldset>
        {% endfor %}

        {# BUILD PRODUCT GALLERY #}
        <h1>PRODUTOS</H1>
        {% for item in classes_products %}
            {% set class_name = item.class.name.value %}
            <fieldset>
                <h2>{{ class_name }}</h2>
                {% for product in item.products %}
                    {% set product_id = product.id.value %}
                    {% set product_title = product.title.value %}
                    {% set product_lett_id = product.lett_id.value %}
                    {% set product_image = {
                        uri: product.getImage.uri.value|default(''),
                        alt: product.image.alt|default(product_title),
                        style: 'image_webp',
                    } %}
                    <fieldset>
                        <strong>NOME: {{product_title}}</strong>
                        <br>
                        <strong>LINK:</strong> <a href="{{ path('entity.meeg_ninho_product.canonical', {'meeg_ninho_product': product_id}) }}">VER</a>
                        <br>
                        <strong>ID:</strong> {{product_id}}
                        <br>
                        <strong>LETT ID:</strong> {{product_lett_id}}
                        <br>
                        <strong>IMAGE</strong>
                        <br>
                        {{ drupal_image(product_image.uri, product_image.style, {alt: product_image.alt}) }}
                    </fieldset>
                {% endfor %}
            </fieldset>
        {% endfor %}

    </main>

</div>
