{# DATA #}
{% set product = elements['#meeg_ninho_product'] %}
{% set name = product.title.value %}
{% set class = product.getClass.name.value %}
{% set image = {
    uri: product.getImage.uri.value|default(''),
    alt: product.image.alt|default(name),
    style: 'image_webp'
} %}

<fieldset>
    <h1>{{name}}</h1>
    <strong>CATEGORIA:</strong> {{class}}
    <br><br>
    {{ drupal_image(image.uri, image.style, {alt: image.alt}) }}
</fieldset>