{# FAQ SELECTOR #}
<h1>SELETOR</h1>
{% set selector = data.selector %}

{% for item in selector %}
    {% set class_name = item.class.name.value %}
    {% set class_slug = item.class.slug %}
    {% set class_selected = item.class.selected == true ? item.class.selected : false %}
    <fieldset>
        {{class_name}} ({{class_slug}}) {{class_selected == true ? '✅' : ''}}
        {% for product in item.products %}
            {% set product_title = product.title.value %}
            {% set product_slug = product.getSlug %}
            {% set product_selected = product.selected == true ? product.selected : false %}
            <br>
            -> {{product_title}} ({{product_slug}}) {{product_selected == true ? '✅' : ''}}
        {% endfor %}
    </fieldset>
{% endfor %}

{# FAQ LISTING #}
<h1>FAQ</h1>
{% set faq = data.faq %}

{% for item in faq %}
    {% set title = item.question.value %}
    {% set answer = item.answer.value %}
    {% set theme = item.theme.name.value %}
    {% set tag = item.tag %}
    <fieldset>
        <strong>{{title}}</strong>
        <br>
        {{answer|raw}}
        <br>
        <strong>TEMA:</strong> {{theme}}
        <br><br>
        <strong>TAG:</strong> {{tag}}
    </fieldset>
{% endfor %}